header {
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: space-between;
    position: relative;
    top: 64px;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 0 158px;

    img {
        height: 22px;
        width: 32px;
    }

    .menu-text {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #f1f1f1;
        letter-spacing: 0.085em;
        
        img {
            display: flex;
            justify-items: center;
            width: 21px;
            height: 16px;
        }
    }
}