.bike-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  span {
    font-family: "Lato", sans-serif;
    color: #f1f1f1;
    font-weight: 900;
    font-size: 20rem;
    line-height: 24rem;
    position: absolute;
    z-index: 99;
    text-shadow: 0 4px 32px rgba($color: #000000, $alpha: 0.8);
  }

  img {
    position: relative;
    z-index: 100;
    max-width: 1050px;
    min-width: 300px;
    min-height: 260px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

@media (max-width: 425px) {
  .bike-container {
    img {
      top: 50px;
    }

  }
}

@media (max-width: 320px) {
  .bike-container {
    img {
      min-height: 240px;
    }
  }
}
