.logo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 6.1rem;
    margin-bottom: 6.0rem;
    
    
    .ducatiLogo {
        width: 110px;
        margin-bottom: 4.5rem;
    }

    .monsterLogo {
        width: 322px;
        min-width: 200px;
    }
}

@media (max-width: 320px) {
    .logo-container {
        .monsterLogo {
            width: 300px;
            
        }
    }
}